<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.accompany">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="accompany"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.accompany.GroupPage"></activity>
        <activity android:name="com.example.accompany.GroupChat" />
        <activity android:name="com.example.accompany.Partner_Chat" />
        <activity android:name="com.example.accompany.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.accompany.ProfileActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name="com.example.accompany.RoutesForUser"
            android:label="@string/title_activity_routes_for_user" />
        <activity android:name="com.example.accompany.Login" />
        <activity android:name="com.example.accompany.Register" />
        <activity android:name="com.example.accompany.Users" />
        <activity android:name="com.example.accompany.Chat" />
        <activity android:name="com.example.accompany.MainPage" android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.example.accompany.UserStatus"  android:theme="@style/AppTheme.NoActionBar" />
        <service android:name="com.example.accompany.LocationMonitoringService" />
    </application>

</manifest>